---
import Layout from "@layouts/Layout.astro"
import { mainSiteSEO } from "@utils/seoData/mainSite"
import { pagesSEO } from "@utils/seoData/pages"

const title = pagesSEO.about.title
const desc = pagesSEO.about.desc
const image = pagesSEO.about.image
const url = pagesSEO.about.url
const type = mainSiteSEO.type
const siteName = mainSiteSEO.siteName
const twitter = mainSiteSEO.twitter
const locale = mainSiteSEO.locale
const keywords = pagesSEO.about.keywords

---

<Layout
    title={title}
    desc={desc}
    image={image}
    url={url}
    type={type}
    siteName={siteName}
    twitter={twitter}
    locale={locale}
    keywords={keywords}
>
    <main>
        <title-card>
            <h1 class="main-title">About the Call of Duty®: Mobile Database</h1>
        </title-card>

        <p class="about-text">
            The Call of Duty®: Mobile Database is a fan-made database for the popular mobile game Call of Duty®: Mobile. It is a comprehensive resource for information on weapons, modes, and more. The database is updated regularly with new content and features, ensuring that it remains up-to-date and relevant to the community.
        </p>

        <h2>Changelog</h2>

        <changelog-paragraph>
            <strong>Version 2.0</strong>
        </changelog-paragraph>

        <changelog-list>
            <changelog-item>
                <strong>Added the Season 2: Digital Dawn hero image.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the VLK Rogue to the weapons list.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Flash Strike to the Throwables.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the Chase icon to the Multiplayer Game Modes.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the Krai Battle Royale Mode.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the Season 2 patch notes.</strong>
            </changelog-item>
        </changelog-list>

        <changelog-paragraph>
            <strong>Verson 1.9</strong>
        </changelog-paragraph>

        <changelog-list>
            <changelog-item>
                <strong>Added the Season 1: Wings of Vengeance hero image.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the XM4 to the weapons list.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the RAAL MG to the weapons list.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the Season 11: Winter War II patch notes.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the Season 1: Wings of Vengeance patch notes.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Changed the weapons images.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Tank Battleground to the Multiplayer Game Modes.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Control Field to the Operator Skills.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Carnival Shootout to the Multiplayer Game Modes.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Chase to the Multiplayer Game Modes.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Chase Zone / Shoot Zone to the Multiplayer Maps.</strong>
            </changelog-item>
        </changelog-list>

        <changelog-paragraph>
            <strong>Version 1.8.1</strong>
        </changelog-paragraph>

        <changelog-list>
            <changelog-item>
                <strong>Fixed a bug where the item name for the Death Machine was not being displayed.</strong>
            </changelog-item>
        </changelog-list>

        <changelog-paragraph>
            <strong>Version 1.8</strong>
        </changelog-paragraph>

        <changelog-list>
            <changelog-item>
                <strong>Added the Krai minimap layout.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Changed the Hero image for the Call of Duty®: Mobile Season 10: 5th Anniversary release.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the USS 9 SMG to the Database.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the Douser Grenade to the Database.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the Teleporter Operator Class to the Database.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Fixed a bug where the camo requirements were not being displayed for the Marksman Rifles.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Fixed a bug where the Marksman Rifles were not being sorted by category.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the Season 10 Patch Notes to the Database.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Removed content added from the planned changes section of the Roadmap page.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Updated the name of the Alchemy Stars camo to reflect the in-game updates.</strong>
            </changelog-item>
        </changelog-list>
        
        <changelog-paragraph>
            <strong>Version 1.7</strong>
        </changelog-paragraph>

        <changelog-list>
            <changelog-item>
                <strong>Added Hordepoint details to the Database.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Scorestreaks to the Database.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Killstreaks to the Database.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Throwables to the Database.</strong>
            </changelog-item>
        </changelog-list>

        <changelog-paragraph>
            <strong>Version 1.6</strong>
        </changelog-paragraph>

        <changelog-list>
            <changelog-item>
                <strong>Added Operator Skills to the Database.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Operator Classes to the Database.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Operator Modules to the Database.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added a Roadmap page.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added a temporary image for the Krai map.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added a countdown for the release of the Krai map.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Temporarily removed the Bot page from the footer navigation.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the Hordepoint mode to the Database.</strong>
            </changelog-item>
        </changelog-list>

        <changelog-paragraph>
            <strong>Version 1.5</strong>
        </changelog-paragraph>

        <changelog-list>
            <changelog-item>
                <strong>Added the Collateral Strike, Collateral, Combine, and Firing Range (Training) maps to the database.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the BR Training Grounds map to the database.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the Zombies maps to the database.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Fixed styling issues with the Patch Notes page on mobile devices.</strong>
            </changelog-item>
        </changelog-list>

        <changelog-paragraph>
            <strong>Version 1.4</strong>
        </changelog-paragraph>

        <changelog-list>
            <changelog-item>
                <strong>Added a new page for the maps.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added some of the multiplayer maps available in the game to the database.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added the Battle Royale maps to the database.</strong>
            </changelog-item>
        </changelog-list>

        <changelog-paragraph>
            <strong>Version 1.3</strong>
        </changelog-paragraph>

        <changelog-list>
            <changelog-item>
                <strong>Added a new hero image for the Call of Duty®: Mobile Season 9: Orbital Raiders release.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added ISO to the SMG category.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Lag 53 to the Assault Rifle category.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Type 63 to the Marksman Rifle category.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Serpentine to the Perks category.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added Assassin to the Perks category.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added a patch notes page.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Changed the hero image for the Call of Duty®: Mobile Season 9: Orbital Raiders release.</strong>
            </changelog-item>
        </changelog-list>

        <changelog-paragraph>
            <strong>Version 1.2</strong>
        </changelog-paragraph>

        <changelog-list>
            <changelog-item>
                <strong>Added a new hero image for the Call of Duty®: Mobile Season 6: Synthwave Showdown release.</strong>
            </changelog-item>
        </changelog-list>


        <changelog-paragraph>
            <strong>Version 1.1</strong>
        </changelog-paragraph>

        <changelog-list>
            <changelog-item>
                <strong>Added Machine Pistol to the Pistol category.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added a new page for the About section.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added SEO images.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Fixed the link to the bot page.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Removed the FAQ page link from the footer navigation for the time being.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Added a new page for the Modes section.</strong>
            </changelog-item>
        </changelog-list>

        <changelog-paragraph>
            <strong>Version 1.0</strong>
        </changelog-paragraph>

        <changelog-list>
            <changelog-item>
                <strong>Added a new page for the Perks section.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Updated the homepage to include a new hero image.</strong>
            </changelog-item>
            <changelog-item>
                <strong>Updated the footer to include a link to the Discord server.</strong>
            </changelog-item>
        </changelog-list>

</Layout>

<script>

    class TitleCard extends HTMLElement {

        constructor() {
            super();
            if (this.style) {
                this.style.cssText = `
                    text-align: center;
                    padding: 2rem;
                `;
            }
        }
    }

    class ChangelogParagraph extends HTMLElement {

        constructor() {
            super();
            if (this.style) {
                this.style.cssText = `
                    display: block;
                    margin-bottom: 1rem;
                    font-size: 1.5rem;
                `;
            }
        }

    }

    class ChangelogList extends HTMLElement {

        constructor() {
            super();

            if (this.style) {
                this.style.cssText = `
                    display: block;
                    padding: 0;
                `;
            }
        }
    }

    class ChangelogItem extends HTMLElement {

        constructor() {
            super();
            if (this.style) {
                this.style.cssText = `
                    display: block;
                    margin-bottom: 0.5rem;
                `;
            }
        }
    }

    customElements.define('title-card', TitleCard)
    customElements.define('changelog-paragraph', ChangelogParagraph)
    customElements.define('changelog-list', ChangelogList)
    customElements.define('changelog-item', ChangelogItem)

</script>

<style>

    main {
        max-width: 960px;
        margin: 0 auto;
        padding: 2rem;
    }

    .about-text {
        margin-bottom: 2rem;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    changelog-paragraph {
        margin-bottom: 2rem;
    }

    changelog-item::before {
        content: "•";
        margin-right: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

</style>