---
import Layout from "@layouts/Layout.astro"
import { pagesSEO } from "@utils/seoData/pages"
import { mainSiteSEO } from "@utils/seoData/mainSite"
import { Image } from "astro:assets"
import CoDMLogo from "@assets/logos/codm-logo.png"
import type { WildcardType } from "@utils/types"
import Wildcard from "@components/utils/Wildcard.astro"

const title = pagesSEO.wildcards.title
const desc = pagesSEO.wildcards.desc
const image = pagesSEO.wildcards.image
const url = pagesSEO.wildcards.url
const type = mainSiteSEO.type
const siteName = mainSiteSEO.siteName
const twitter = mainSiteSEO.twitter
const locale = mainSiteSEO.locale
const keywords = pagesSEO.wildcards.keywords

const wildcardList = await fetch(`${Astro.url.origin}/data/wildcards.json`)
    .then((res) => res.json())
    .catch((err) => console.error(err))

---

<Layout
    title={title}
    desc={desc}
    image={image}
    url={url}
    type={type}
    siteName={siteName}
    twitter={twitter}
    locale={locale}
    keywords={keywords}
>

    <main>

        <h1>
            Wildcards in Call of Duty®: Mobile
            <Image
                src={CoDMLogo}
                alt="Call of Duty®: Mobile Logo"
                width="40"
                height="40"
            />
        
        </h1>

        <form>
            <label for="search">Search for a wildcard:</label>
            <input type="text" id="search" name="search" placeholder="Type a wildcard name..." />
        </form>
        
        <div class="wildcard-list">

            {wildcardList.map((wildcard: WildcardType) => (
                <Wildcard
                    wildcard={wildcard}
                />
            ))}

        </div>

    </main>

</Layout>

<style>

    main {
        padding: 1rem;
        min-height: calc(100vh - 4rem);
    }

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        margin-left: 1rem;
        filter: drop-shadow(0 0 0.75rem #000);
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
    }

    label {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    input, select {
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #000;
        border-radius: 0.25rem;
    }

    input {
        margin-bottom: 0.5rem;
    }

    select {
        margin-bottom: 1rem;
    }

    .wildcard-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        padding-inline: 1rem;
    }

    @media (max-width: 768px) {

        .wildcard-list {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }

    }

</style>

<script>

    const search = document.querySelector("input")
    const wildcard = document.querySelectorAll(".wildcard-link")

    if(!search || !wildcard) {
        throw new Error("Couldn't find the search or wildcard elements")
    }

    search.addEventListener("input", () => {
        const searchValue = search.value.toLowerCase()

        wildcard.forEach((wildcard) => {
            const wildcardName = wildcard.querySelector("h2")?.textContent?.toLowerCase() || '';

            if(wildcardName.includes(searchValue)) {
                const wildcardElement = wildcard as HTMLElement
                wildcardElement.style.display = "block"
            } else {
                const wildcardElement = wildcard as HTMLElement
                wildcardElement.style.display = "none"
            }
        })
    })

    const nav = document.querySelector("nav")
    const main = document.querySelector("main")

    if(!nav || !main) {
        throw new Error("Couldn't find the nav or main elements")
    }

    main.style.minHeight = `calc(100vh - ${nav.clientHeight}px)`

</script>