---
import { Image } from 'astro:assets'


interface Props {
    id: string
    name: string
    desc: string
    type: string
}

const { id, name, desc, type } = Astro.props

const imageExists = await fetch(`${Astro.url.origin}/assets/images/weapons/${id}.png`)
    .then(res => res.ok)
    .catch(() => false)

---

<a href={`/weapons/${id}`} class={type} id="weapon">

    <div>

        <div class="image">

            {imageExists ? (
                <Image
                    src={`/assets/images/weapons/${id}.png`}
                    alt={name}
                    width={300}
                    height={300}
                />
            ) : (
                <Image
                    src="/assets/images/weapons/weapon-placeholder.png"
                    alt={`${name} placeholder`}
                    width={300}
                    height={300}
                />
            )}

        </div>

        <div class="metadata">

            <h2>{name}</h2>
            <p>{desc}</p>

        </div>

    </div>

</a>

<style>

    a {
        display: block;
        text-decoration: none;
        color: inherit;
        border-radius: 1rem;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border-radius: 1rem;
        background-color: var(--color-bg-secondary);
    }

    .image {
        flex: 0 0 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 1rem;
    }

    .metadata {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    h3 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    .ar {
        border: 2px solid var(--color-ar);
    }

    .sr {
        border: 2px solid var(--color-sr);
    }

    .lmg {
        border: 2px solid var(--color-lmg);
    }

    .smg {
        border: 2px solid var(--color-smg);
    }

    .sg {
        border: 2px solid var(--color-sg);
    }

    .mr {
        border: 2px solid var(--color-mr);
    }

    .pistol {
        border: 2px solid var(--color-pistol);
    }

    .launcher {
        border: 2px solid var(--color-launcher);
    }

    .melee {
        border: 2px solid var(--color-melee);
    }

</style>