---
import { navBarPages } from "@utils/lists/pages"
import { Image } from "astro:assets"
import logo from "@assets/logos/codm-db-logo.png"
---

<nav>

    <div class="nav-logo">
        <a href="/">
            <Image
                src={logo}
                alt="Call of Duty Mobile Database"
                width={200}
                height={50}
            />
        </a>
    </div>

    <ul class="nav-links">
        {navBarPages.map((page) => (
            <li>
                <a href={page.path} class="nav-link">
                    {page.name}
                </a>
            </li>
        ))}
    </ul>

    <button id="mobile-nav" class="btn btn-primary" type="button" title="Mobile Navigation Toggle" data-opened="false">
        <div class="mobile-nav-icon">
            <div class="mobile-nav-line" />
            <div class="mobile-nav-line" />
        </div>
    </button>


</nav>

<div class="mobile-nav" style="left: 100%;">
    <ul class="mobile-nav-links">
        {navBarPages.map((page) => (
            <li>
                <a href={page.path} class="nav-link">
                    {page.name}
                </a>
            </li>
        ))}
    </ul>
</div>

<style>

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: var(--primary-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .nav-logo {
        display: flex;
        align-items: center;
    }

    .nav-links {
        display: flex;
        gap: 1rem;
        list-style: none;
    }

    .nav-link {
        color: var(--secondary-text-color);
        text-decoration: none;
    }

    .nav-link:hover {
        text-decoration: underline;
    }

    #mobile-nav {
        display: none;
        background-color: transparent;
        border: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        z-index: 10000;
    }

    .mobile-nav-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 2rem;
        height: 2rem;
    }

    .mobile-nav-line {
        width: 25px;
        height: 2px;
        background-color: black;
        transition: transform 0.3s;
    }

    [data-opened="true"] .mobile-nav-line:nth-of-type(1) {
        transform: rotate(45deg) translateX(15px) translateY(-2px);
    }

    [data-opened="true"] .mobile-nav-line:nth-of-type(2) {
        transform: rotate(-45deg) translateX(8px) translateY(8px);
    }

    .mobile-nav {
        display: grid;
        place-items: center;
        background-color: var(--primary-color);
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        transition: left 0.3s;
    }

    .mobile-nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        list-style: none;
        font-size: large;
    }

    @media (max-width: 768px) {
        .nav-links {
            display: none;
        }

        #mobile-nav {
            display: block;
        }

    }

</style>

<script>
    const mobileNav = document.querySelector(".mobile-nav");
    const mobileNavButton = document.querySelector("#mobile-nav");

    if (!mobileNav || !mobileNavButton) {
        throw new Error("Mobile nav elements not found");
    }

    mobileNavButton.addEventListener("click", () => {
        const opened = (mobileNavButton as HTMLButtonElement).dataset.opened === "true";
        const mobileNavLeft = (mobileNav as HTMLElement).style.left;

        (mobileNavButton as HTMLButtonElement).dataset.opened = String(!opened);
        
        (mobileNav as HTMLElement).style.display = (mobileNav as HTMLElement).style.left = mobileNavLeft === "100%" ? "0" : "100%";
    });

</script>